*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar{
    display: flex;
    gap: 20px;
    list-style: none;
}
.navbar li a {  
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.button a{
   text-decoration:none;
   background-image: linear-gradient(to right, #FF6600,#42210B);
   color: white;
   padding: 10px;
   font-weight: bold;
}
.back{
    background-image: url(tempImageQ3pZXy\ 1.png);
    background-size: ;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    background-color: #FF6600;
    text-align: center;
    border-radius: 24px;
    margin: 30px 100px;
    padding: 20px 40px; 
    height: 400px;   
}
.container h1{
    color: #FFFFFF;
    line-height: 50px;
    font-weight: normal;
}
.java,.khadija{
    background: #42210B;
    color: white;
    border-radius: 6px;
    padding: 2px 7px 2px 7px ;
    font-weight:bold; 
}
.X{
    background-color: #FFFFFF1A ;
   border: 1px solid #FFFFFF1A;
   padding: 16px 20px;
   margin: 50px 80px;
   color:#FFFFFF;
   border-radius: 10px; 
   font-size: 24px;
   font-weight: normal;
    line-height: 30px;
}
.le{
    display: flex;
    width: 100%;
}
.marche, .ce{
    margin: 0px 100px;
}
.left, .right2{
    flex: 1;
    
}
.left{
    margin-top: 80px;
}
.right2{
    margin-top: 60px;
}
.item1, .item2, .item3, .item4{
border: 1px solid #FF6600;
padding: 25px;
border-radius: 6px;
margin: 12px 100px;
margin-right: 30px;
}
.right, .left2{
    background-image: url(tempImageQ3pZXy\ 1.png);
    background-position: center;
    background-size: ;
    background-repeat: no-repeat;
}
.femme{
    margin-left: 100px;
    margin-bottom: 150px;
}
.homme{
    margin-bottom: 150px;
}
.la{
    display: flex;
    width: 100%;
}
.itemA, .itemB, .itemC, .itemD{
border: 1px solid #FF6600;
padding: 25px;
border-radius: 6px;
margin: 12px 100px;
margin-left: 30px;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF6600;
    border-radius: 24px;
    height: 500px;
    margin: 1px 100px;
    color: white;
    position: relative;
}
.container2 h1{
    background-color: #3b2401;
    position: relative;
    padding: 10px 40px;
    border-radius: 6px;
}
.UL1{
    background-color: #f37d46;
    position: relative;
    padding: 40px 65px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 2;
}
.UL2{
position: absolute;
right: 170px;
bottom: 90px;

}
.container2 p{
background-color: white;
color: #F26522;
position: relative;
padding: 20px 60px;
border-radius: 6px;
}
.container3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1px 50px;
    padding:30px 40px;
}
.de{
    margin: 20px 100px;
    margin-top: 100px;
}
.left3, .right3{
    border: 1px solid orange;
    padding: 50px 80px 50px 50px;
    border-radius: 15px;
    background-color: rgb(248, 244, 238);
    width: 700px;
    height: 300px;
    margin: 30px;
}
.container4{
    background-color: #F26522;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
    height: 20px;
    margin-bottom: 50px;
}
.blanc{
    background-color: white;
    width: 400px;
    height: 160px;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
}
.orange{
    background-color: #F26522;
    color: white;
    margin: 10px 20px;
    width: 60px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
.container5{
    background-color: #f9f9f9 ;
    width: 1,500px;
    height: 371px;
    margin: 50px 110px 50px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.bord{
    line-height: 2;
    margin-right: 100px;
}
.menu{
   margin-bottom: 70px; 
   margin-left: 100px;
}
.diag{
   background-image: linear-gradient(to right, #FF6600,#42210B);
   color: white;
   padding: 10px;
   width: 200px;
   text-align: center;
   border-radius: 6px;
}
.trait-vertical{
width: 2px;
height: 200px;
background-color: #ccc;
flex-shrink: 0;
}
.container6{
    display: flex;
    justify-content: space-between;

}
.UL3{
line-height: 2;
margin: 20px 120px ;
}  
.Frame{
    margin: 30px 300px;
}
.container7{
    display: flex;
    padding: 50px;
    gap: 40px;
    margin: 0px 50px;
}
.lor{
    width: 1000px;
    height: 300px;
    display: flex;
    gap: 20px;
    text-align: justify;
}
.trait-horizontal{
    height: 2px;
    background-color:#ccc ;
    gap: 10px;
}
.sil{
    margin-top: 100px;
}
.sect{
     width:1,728px;
     height: 300px;
    display: flex;
}
section{
    background-color:#FF6600;
}
.icone{
    color: white;
    padding-left: 40px;
    line-height: 1.8;
}

.cont{
    margin-left: 400px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
form{
    margin-top: 20px;
    margin-left: 400px;
    gap: 10px;
    display:grid; 
    grid-template-columns:1fr 1fr ;
}
input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 170px;
    font-size: 8px;
}
button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 170px;
    font-size: 9px;
    color: white;
    background-color: #42210B;
    grid-column: 2;
}
label{
    color: white;
    font-size: 10px;
}
.color{
    background-color: #FF6600;
    padding: 11px;
    border-radius: 6px 6px 0px 0px;
}